<div class="modal-header">
  <h4 class="modal-title">{{'LABEL.DELETE' | translate}}</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="dialogRef.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="text-center mt-4">{{'MESSAGE.DELETE_CONFIRMATION' | translate}}</p>
</div>
<div class="modal-footer border-top-0">
  <button class="btn btn-primary" ngbAutofocus (click)="dialogRef.close('delete')">
    {{'LABEL.CONFIRM' | translate}}
  </button>
  <button translate class="btn btn-outline-secondary" (click)="dialogRef.dismiss('cancel')">
    {{'LABEL.CANCEL' | translate}}
  </button>
</div>
