			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': RelatorioForm.nome.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="nome">Nome</label>					        
				            <input id="nome" name="nome" type="text" class="form-control" ng-model="vmRelatorio.entity.nome"
							ng-required="true" ng-maxlength="255" ng-disabled="vmRelatorio.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="RelatorioForm.nome.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="RelatorioForm.nome.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="RelatorioForm.nome.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': RelatorioForm.descricao.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="descricao">Descri&ccedil;&atilde;o</label>					        
				            <input id="descricao" name="descricao" type="text" class="form-control" ng-model="vmRelatorio.entity.descricao"
							ng-maxlength="255" ng-disabled="vmRelatorio.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="RelatorioForm.descricao.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': RelatorioForm.permissao.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="permissao">Permiss&atilde;o</label>					        
				            <input id="permissao" name="permissao" type="text" class="form-control" ng-model="vmRelatorio.entity.permissao"
							ng-maxlength="255" ng-disabled="vmRelatorio.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="RelatorioForm.permissao.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': RelatorioForm.habilitado.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="habilitado">Habilitado</label>					        
				            <ui-select id="habilitado" name="habilitado" ng-model="vmRelatorio.entity.habilitado" theme="bootstrap" 
				            	ng-disabled="vmRelatorio.viewMode" ng-required="true">
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.label}}</ui-select-match>
							    <ui-select-choices repeat="item.key as item in vmRelatorio.habilitadoList | filter: { label: $select.search }">
							        <div ng-bind-html="item.label | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
			            	<span class="help-block error" ng-show="RelatorioForm.habilitado.$error.required">obrigatório</span>
				        </div>
					</div>
				</div>
		    </div>
		    
		    <div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': RelatorioForm.categoria.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="categoria">Categoria</label>					        
				            <ui-select id="categoria" name="categoria" ng-model="vmRelatorio.entity.categoria" theme="bootstrap" 
				            	ng-disabled="vmRelatorio.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.nome}}</ui-select-match>
							    <ui-select-choices repeat="categoria in vmRelatorio.categoriaList track by categoria.id"
							    	refresh="vmRelatorio.listarCategoria($select.search)" refresh-delay="300">
							        <div ng-bind-html="categoria.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
		    <div class="row"> <!-- Jrxml -->
			    <div class="col-md-12">
			        <div flow-init="{singleFile: true}" flow-name="vmRelatorio.jrxmlDataFlow" flow-files-added="vmRelatorio.processFiles($files)"
			             flow-file-added="vmRelatorio.validateFile($file)" class="ng-scope">
			            <label>Arquivo JasperReports (.jrxml)</b></label>
			            
			            <span class="thumbnail" ng-show="$flow.files.length">
			                Selecionado: <b>{{$flow.files[0].name}}</b>
			            </span>
			            
			            <span class="thumbnail help-block error" ng-class="{ 'span-error' : $flow.files.length == 0 }" ng-show="$flow.files.length == 0">Por favor, selecione o arquivo do relatório.</span>
			            
			            <span class="btn btn-primary" flow-attrs="{accept:['application/xml']}" flow-btn="" ng-disabled="vmRelatorio.viewMode" >
		                    <i class="fa fa-folder-open-o" aria-hidden="true"></i> Selecionar arquivo
		                    <input type="file" style="visibility: hidden; position: absolute;" />
		                </span>
		                
		                <span class="btn btn-danger" ng-show="$flow.files.length"
		                      ng-click="vmRelatorio.removeFile()"><i class="fa fa-trash-o" aria-hidden="true"></i> Remover</span>
			        </div>
			        <div>&nbsp;</div>
			    </div>
			</div>
		    	
		    <div class="row">
				<div class="col-md-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Lista de filtros</h3>
							<div class="box-tools pull-right">
								<button id="openModalRelatorioFiltro" name="openModalRelatorioFiltro" class="btn btn-primary" ng-show="!vmRelatorio.viewMode" ng-click="vmRelatorio.openModalRelatorioFiltro()"
									title="Adicionar RelatorioFiltro"><i class="fa fa-plus"></i><span class="hidden-xs"> Adicionar filtro</span>
								</button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="table-responsive">
								<table
									class="table table-responsive table-bordered table-striped clearfix">
									<thead>
										<tr>
											<th>Ordem</th>								
											<th>R&oacute;tulo</th>								
											<th>Filtro</th>								
											<th>Dependente de</th>								
											<th></th>
										</tr>
									</thead>
									<tbody id="search-results-body">
										<tr ng-repeat="item in vmRelatorio.entity.filtros track by $index">
											<td>{{item.ordem}}</td>
											<td>{{item.rotulo}}</td>
											<td>{{item.filtro.nome}}</td>
											<td>
												<div class="form-group">
										    		<div class="col-sm-12">
											    		<ui-select ng-model="item.dependenteDe" theme="bootstrap" ng-disabled="vmRelatorio.viewMode" >
															<ui-select-match allow-clear="true" placeholder="Nenhum...">{{$select.selected.rotulo}}</ui-select-match>
														    <ui-select-choices repeat="pai.ordem as pai in vmRelatorio.entity.filtros | filter: {rotulo: $select.search}"
														    	ui-disable-choice="pai.ordem == item.ordem">
														        <div ng-bind-html="pai.rotulo | highlight: $select.search"></div>
														    </ui-select-choices>
														</ui-select>					        
											        </div>
												</div>
											</td>
											<td align="center">
												<button type="button" class="btn btn-danger" ng-click="vmRelatorio.removeRelatorioFiltro($index)"><i class="fa fa-trash"></i><span class="hidden-xs"> Remover</span></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
				</div>
		    </div>
		    	
		    
