<div class="card" *ngIf="entity">
    <div class="card-header">
        Detalhes do Parâmetro
    </div>
    <div class="card-body">
        <form ngForm #parametroForm="ngForm" (submit)="onClickSave()">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" class="form-control" [(ngModel)]="entity.descricao" minlength="2" maxlength="200" name="descricao" id="descricao" #descricao
                    [disabled]="viewMode" placeholder="Descricao" aria-describedby="descricaoHelp">
                <small id="descricaoHelp" class="form-text text-muted">Descrição do parâmetro.</small>
                <mat-error *ngIf="!descricao.valid && descricao.dirty && descricao.errors['minlength']">
                    Descricao deve conter no mínimo 2 caractere(s).
                </mat-error>
                <mat-error *ngIf="!descricao.valid && descricao.dirty && descricao.errors['maxlength']">
                    Descricao deve conter no máximo 200 caractere(s).
                </mat-error>
            </div>
            <div class="form-group">
                <label for="chave">Chave</label>
                <input type="text" class="form-control" [(ngModel)]="entity.chave"  required   minlength="2"  maxlength="100" name="chave" id="chave" #chave
                    [disabled]="viewMode" placeholder="Chave" aria-describedby="chaveHelp">
                <small id="chaveHelp" class="form-text text-muted">Chave do parâmetro.</small>
                <mat-error *ngIf="!chave.valid && chave.dirty && chave.errors['required']">
                    Chave é obrigatório.
                </mat-error>
                <mat-error *ngIf="!chave.valid && chave.dirty && chave.errors['minlength']">
                    Chave deve conter no mínimo 2 caractere(s).
                </mat-error>
                <mat-error *ngIf="!chave.valid && chave.dirty && chave.errors['maxlength']">
                    Chave deve conter no máximo 100 caractere(s).
                </mat-error>
            </div>
            <div class="form-group">
                <label for="valor">Valor</label>
                <textarea class="form-control" autoResize="true" [(ngModel)]="entity.valor"    maxlength="500" autoResize="true" name="valor" id="valor" #valor
                    [disabled]="viewMode" placeholder="Valor" aria-describedby="valorHelp"></textarea>
                <small id="valorHelp" class="form-text text-muted">Valor do parâmetro.</small>
                <mat-error *ngIf="!valor.valid && valor.dirty && valor.errors['maxlength']">
                    Valor deve conter no máximo 500 caractere(s).
                </mat-error>
            </div>
            <div class="form-group">
                <label for="dataHoraAlteracao">Data Hora Alteração</label>
                <input class="form-control" [(ngModel)]="entity.dataHoraAlteracao"  name="dataHoraAlteracao" id="dataHoraAlteracao" #dataHoraAlteracao
                    [owlDateTime]="dataHoraAlteracao" [owlDateTimeTrigger]="dataHoraAlteracao" [disabled]="viewMode" 
                    placeholder="Data Hora Alteracao" aria-describedby="dataHoraAlteracaoHelp" />
                <owl-date-time #dataHoraAlteracao></owl-date-time>
                <small id="dataHoraAlteracaoHelp" class="form-text text-muted">Data hora da última alteração.</small>
            </div>
            <div class="row">
                <div class="col-1">
                    <button type="submit" class="btn btn-primary" (click)="onClickSave()" [disabled]="!parametroForm.form.valid && viewMode">Salvar</button>
                </div>
                <div class="col-1" *ngIf="sub">
                    <button type="button" class="btn btn-warning" (click)="onClickCancel()">Cancelar</button>
                </div>
                <div class="col-1" *ngIf="!sub">
                    <button type="button" class="btn btn-secondary" (click)="onClickBack()">Voltar</button>
                </div>
            </div>
        </form>
    </div>
</div>
