<div>

  <!-- Main content -->
  <section class="content">
  <h2>{{ (viewMode ? 'MESSAGE.ENTITY_DETAIL' : 'MESSAGE.ENTITY_NEW') | translate:{'entity':'Parametro'} }}</h2>
  
  
    <form class="needs-validation" ngForm *ngIf="entity" [formGroup]="detailForm">
        <div class="card mt-3 shadow-sm">
            <div class="card-body">

                 <div class="row">
                    <div class="form-group col-md-12">
                        <label for="descricao">{{'PARAMETRO.DESCRICAO' | translate}}</label>
                        <input class="form-control" type="text"   minlength="2"  maxlength="200"                          formControlName="descricao" id="descricao" [disableControl]="viewMode"
                          [class.is-invalid]="detailForm.get('descricao').invalid && (detailForm.get('descricao').dirty || detailForm.get('descricao').touched)"/>
                        
                        <div class="text-danger mt-1"
                          *ngIf="detailForm.get('descricao').errors && detailForm.get('descricao').errors.minlength 
                            && (detailForm.get('descricao').dirty || detailForm.get('descricao').touched)">
                          {{'MESSAGE.MIN_CHAR' | translate:{'field':'Descricao', 'numchar':'2'} }}
                        </div>
                        <div class="text-danger mt-1" 
                          *ngIf="detailForm.get('descricao').errors && detailForm.get('descricao').errors.maxlength 
                            && (detailForm.get('descricao').dirty || detailForm.get('descricao').touched)">
                            {{'MESSAGE.MAX_CHAR' | translate:{'field':'Descricao', 'numchar':'200'} }}
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group col-md-12">
                        <label for="valor">{{'PARAMETRO.VALOR' | translate}}</label>
                        <textarea class="form-control" autoResize="true" 
                             maxlength="500"                          formControlName="valor" id="valor" [disableControl]="viewMode"
                          [class.is-invalid]="detailForm.get('valor').invalid && (detailForm.get('valor').dirty || detailForm.get('valor').touched)">
                        </textarea>
                        
                        <div class="text-danger mt-1" 
                          *ngIf="detailForm.get('valor').errors && detailForm.get('valor').errors.maxlength 
                            && (detailForm.get('valor').dirty || detailForm.get('valor').touched)">
                            {{'MESSAGE.MAX_CHAR' | translate:{'field':'Valor', 'numchar':'$attribute.columnConfig.min'} }}
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group col-md-12">
                        <label for="chave">{{'PARAMETRO.CHAVE' | translate}}</label>
                        <input class="form-control" type="text"  required   minlength="2"  maxlength="100"                          formControlName="chave" id="chave" [disableControl]="viewMode"
                          [class.is-invalid]="detailForm.get('chave').invalid && (detailForm.get('chave').dirty || detailForm.get('chave').touched)"/>
                        
                        <div class="text-danger mt-1" 
                          *ngIf="detailForm.get('chave').required && (detailForm.get('chave').dirty || detailForm.get('chave').touched)">
                          {{'MESSAGE.MANDATORY_FIELD' | translate:{'field':'Chave'} }}
                        </div>
                        <div class="text-danger mt-1"
                          *ngIf="detailForm.get('chave').errors && detailForm.get('chave').errors.minlength 
                            && (detailForm.get('chave').dirty || detailForm.get('chave').touched)">
                          {{'MESSAGE.MIN_CHAR' | translate:{'field':'Chave', 'numchar':'2'} }}
                        </div>
                        <div class="text-danger mt-1" 
                          *ngIf="detailForm.get('chave').errors && detailForm.get('chave').errors.maxlength 
                            && (detailForm.get('chave').dirty || detailForm.get('chave').touched)">
                            {{'MESSAGE.MAX_CHAR' | translate:{'field':'Chave', 'numchar':'2'} }}
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group col-md-12">
                        <label for="dataHoraAlteracao">{{'PARAMETRO.DATAHORAALTERACAO' | translate}}</label>
                        <app-datetime-picker formControlName="dataHoraAlteracao"  [id]="'dataHoraAlteracao'" [timePicker]="true"
                            placement="bottom-left" [disabledMode]="viewMode"></app-datetime-picker>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group col-md-12">
                        <label>{{'PARAMETRO.TIPOPARAMETRO' | translate}}</label>
                        <div>
                        	<fieldset [class.is-invalid]="detailForm.get('tipoParametro').invalid && (detailForm.get('tipoParametro').dirty || detailForm.get('tipoParametro').touched)">
                            <div class="custom-control custom-radio custom-control-inline" *ngFor="let tipoParametroOption of cacheEnums['TipoParametro']; let i = index">
                              <input type="radio" class="custom-control-input"                                 id="{{'tipoParametroOption' + i}}" [disableControl]="viewMode"
                                [value]="tipoParametroOption.key" formControlName="tipoParametro">
                              <label class="custom-control-label" for="{{'tipoParametroOption' + i}}">{{ tipoParametroOption.label }}</label>
                            </div>
                          </fieldset>
                          
                        <div class="text-danger mt-1" 
                          *ngIf="detailForm.get('tipoParametro').errors && detailForm.get('tipoParametro').errors.maxlength 
                            && (detailForm.get('tipoParametro').dirty || detailForm.get('tipoParametro').touched)">
                            {{'MESSAGE.MAX_CHAR' | translate:{'field':'Tipo Parametro', 'numchar':'$attribute.columnConfig.min'} }}
                        </div>
                        </div>
                    </div>
                </div>
                   <div class="row mt-3">
                    <div class="col align-self-start">
                        <button class="btn btn-outline-secondary mr-2" *ngIf="sub" (click)="onClickCancel()">
                            <i class="fas fa-times"></i> {{'LABEL.CANCEL' | translate}}
                        </button>
    
                        <button class="btn btn-primary mr-2" (click)="onClickSave()" [disabled]="detailForm.invalid || viewMode">
                            <i class="fas fa-check"></i> {{'LABEL.SAVE' | translate}}
                        </button>
                        <button class="btn btn-outline-secondary mr-2" *ngIf="!sub" (click)="onClickBack()">
                                <i class="fas fa-angle-left"></i> {{'LABEL.BACK' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

  </section>
  <!-- /.content -->
</div>