			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': ModeloCelularForm.nome.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="nome">Nome</label>					        
				            <input id="nome" name="nome" type="text" class="form-control" ng-model="vmModeloCelular.entity.nome"
							ng-required="true" ng-maxlength="255" ng-disabled="vmModeloCelular.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="ModeloCelularForm.nome.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="ModeloCelularForm.nome.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="ModeloCelularForm.nome.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': ModeloCelularForm.fabricante.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="fabricante">Fabricante</label>					        
				            <ui-select id="fabricante" name="fabricante" ng-model="vmModeloCelular.entity.fabricante" theme="bootstrap" 
				            	ng-disabled="vmModeloCelular.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.id}}</ui-select-match>
							    <ui-select-choices repeat="fabricante in vmModeloCelular.fabricanteList track by fabricante.id"
							    	refresh="vmModeloCelular.listarFabricante($select.search)" refresh-delay="300">
							        <div ng-bind-html="fabricante.id | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
