$output.file("src/app/entities/${entity.model.type.toLowerCase()}/${entity.model.type.toLowerCase()}.module.ts")##
import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { MatSortModule } from '@angular/material';
import { FileUploadModule } from 'primeng/fileupload';

import { FormsModule, ReactiveFormsModule } from '@angular/forms';
import { SharedModule } from '../../shared/shared.module';
import { RouterModule } from '@angular/router';

import { EntitiesModule } from '../entities.module';

import { ${entity.model.type}ListComponent } from './${entity.model.type.toLowerCase()}-list/${entity.model.type.toLowerCase()}-list.component';
import { ${entity.model.type}DetailComponent } from './${entity.model.type.toLowerCase()}-detail/${entity.model.type.toLowerCase()}-detail.component';
import { ${entity.model.type}AutocompleteComponent } from './${entity.model.type.toLowerCase()}-autocomplete/${entity.model.type.toLowerCase()}-autocomplete.component';
import { ${entity.model.type}LineComponent } from './${entity.model.type.toLowerCase()}-line/${entity.model.type.toLowerCase()}-line.component';
import { ${entity.model.type}RoutingModule } from './${entity.model.type.toLowerCase()}-routing.module';

@NgModule({
  imports: [
    CommonModule,
    ${entity.model.type}RoutingModule,
    FormsModule,
    ReactiveFormsModule,
    RouterModule,

    MatSortModule,

	// Primeng
    FileUploadModule,

    EntitiesModule,
    
    SharedModule
  ],
  exports: [
    ${entity.model.type}ListComponent,
    ${entity.model.type}DetailComponent,
    ${entity.model.type}LineComponent,
    ${entity.model.type}AutocompleteComponent
  ],
  declarations: [
  ]
})
export class ${entity.model.type}Module { }
