$output.file("src/app/entities/${entity.model.type.toLowerCase()}/${entity.model.type.toLowerCase()}.module.spec.ts")##
import { ${entity.model.type}Module } from './${entity.model.type.toLowerCase()}.module';

describe('${entity.model.type}Module', () => {
  let ${entity.model.var}Module: ${entity.model.type}Module;

  beforeEach(() => {
    ${entity.model.var}Module = new ${entity.model.type}Module();
  });

  it('should create an instance', () => {
    expect(${entity.model.var}Module).toBeTruthy();
  });
});
