$output.file("src/app/entities/${entity.model.type.toLowerCase()}/${entity.model.type.toLowerCase()}-routing.module.ts")##
import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';
import { ${entity.model.type}ListComponent } from './${entity.model.type.toLowerCase()}-list/${entity.model.type.toLowerCase()}-list.component';
import { ${entity.model.type}DetailComponent } from './${entity.model.type.toLowerCase()}-detail/${entity.model.type.toLowerCase()}-detail.component';

const routes: Routes = [
  {
    path: '',
    data: {
      breadcrumb: '${entity.labels.label}'
    },
    children: [
      { path: '', redirectTo: 'list', pathMatch: 'full' },
      { path: 'list', component: ${entity.model.type}ListComponent,
        data: {
          breadcrumb: 'Listagem'
        }
      },
      { path: 'new', component: ${entity.model.type}DetailComponent,
        data: {
          breadcrumb: 'Novo'
        }
      },
      { path: 'edit/:id', component: ${entity.model.type}DetailComponent,
        data: {
          breadcrumb: 'Editar'
        }
      },
      { path: 'view/:id', component: ${entity.model.type}DetailComponent,
        data: {
          breadcrumb: 'Visualizar'
        }
      }
    ]
  }
];

@NgModule({
  imports: [
    RouterModule.forChild(
      routes
    ),
  ],
  exports: [RouterModule],
  declarations: []
})
export class ${entity.model.type}RoutingModule {}
