$output.file("src/app/entities/${entity.model.type.toLowerCase()}/${entity.model.type.toLowerCase()}.datasource.ts")##
import { ${entity.model.type} } from './${entity.model.type.toLowerCase()}';
import { ${entity.service.type} } from './${entity.model.type.toLowerCase()}.service';
import { EntityDataSource } from 'framework-lib';
import { Paginator } from 'framework-lib';
import { MatSort } from '@angular/material';

/**
 * Implementação da classe de serviço da entidade ${entity.model.type}.
 */
export class ${entity.model.type}DataSource extends EntityDataSource<${entity.model.type}, ${entity.service.type}> {

  constructor(public paginator: Paginator, public sort: MatSort, public entityService: ${entity.service.type}) {
    super(paginator, sort, entityService);
  }

}
