			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.pais.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="pais">Pais</label>					        
				            <ui-select id="pais" name="pais" ng-model="vmEndereco.entity.pais" theme="bootstrap" 
				            	ng-disabled="vmEndereco.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.nome}}</ui-select-match>
							    <ui-select-choices repeat="pais in vmEndereco.paisList track by pais.id"
							    	refresh="vmEndereco.listarPais($select.search)" refresh-delay="300">
							        <div ng-bind-html="pais.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.uf.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="uf">Uf</label>					        
				            <ui-select id="uf" name="uf" ng-model="vmEndereco.entity.uf" theme="bootstrap" 
				            	ng-disabled="vmEndereco.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.nome}}</ui-select-match>
							    <ui-select-choices repeat="uf in vmEndereco.ufList track by uf.id"
							    	refresh="vmEndereco.listarUf($select.search)" refresh-delay="300">
							        <div ng-bind-html="uf.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
		    <div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.cidade.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="cidade">Cidade</label>					        
				            <ui-select id="cidade" name="cidade" ng-model="vmEndereco.entity.cidade" theme="bootstrap" 
				            	ng-disabled="vmEndereco.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.nome}}</ui-select-match>
							    <ui-select-choices repeat="cidade in vmEndereco.cidadeList track by cidade.id"
							    	refresh="vmEndereco.listarCidade($select.search)" refresh-delay="300">
							        <div ng-bind-html="cidade.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.bairro.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="bairro">Bairro</label>					        
				            <ui-select id="bairro" name="bairro" ng-model="vmEndereco.entity.bairro" theme="bootstrap" 
				            	ng-disabled="vmEndereco.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.nome}}</ui-select-match>
							    <ui-select-choices repeat="bairro in vmEndereco.bairroList track by bairro.id"
							    	refresh="vmEndereco.listarBairro($select.search)" refresh-delay="300">
							        <div ng-bind-html="bairro.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.logradouro.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="logradouro">Logradouro</label>					        
				            <input id="logradouro" name="logradouro" type="text" class="form-control" ng-model="vmEndereco.entity.logradouro"
							ng-required="true" ng-maxlength="255" ng-disabled="vmEndereco.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="EnderecoForm.logradouro.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="EnderecoForm.logradouro.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="EnderecoForm.logradouro.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.numero.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="numero">Numero</label>					        
				            <input id="numero" name="numero" type="text" class="form-control" ng-model="vmEndereco.entity.numero"
							ng-maxlength="10" ng-disabled="vmEndereco.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="EnderecoForm.numero.$error.maxlength">O tamanho máximo é 10</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.complemento.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="complemento">Complemento</label>					        
				            <input id="complemento" name="complemento" type="text" class="form-control" ng-model="vmEndereco.entity.complemento"
							ng-maxlength="50" ng-disabled="vmEndereco.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="EnderecoForm.complemento.$error.maxlength">O tamanho máximo é 50</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.cep.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="cep">Cep</label>					        
				            <input id="cep" name="cep" type="text" class="form-control" ng-model="vmEndereco.entity.cep"
							ng-maxlength="8" ng-disabled="vmEndereco.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="EnderecoForm.cep.$error.maxlength">O tamanho máximo é 8</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.pontoReferencia.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="pontoReferencia">PontoReferencia</label>					        
				            <input id="pontoReferencia" name="pontoReferencia" type="text" class="form-control" ng-model="vmEndereco.entity.pontoReferencia"
							ng-maxlength="100" ng-disabled="vmEndereco.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="EnderecoForm.pontoReferencia.$error.maxlength">O tamanho máximo é 100</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.lat.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="lat">Lat</label>					        
				            <input id="lat" name="lat" type="text" class="form-control" ng-model="vmEndereco.entity.lat"
							ng-disabled="vmEndereco.viewMode">
				            </input>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': EnderecoForm.lng.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="lng">Lng</label>					        
				            <input id="lng" name="lng" type="text" class="form-control" ng-model="vmEndereco.entity.lng"
							ng-disabled="vmEndereco.viewMode">
				            </input>
				        </div>
					</div>
				</div>
		    </div>