$output.file("src/app/entities/${entity.model.type.toLowerCase()}/${entity.model.type.toLowerCase()}-line/${entity.model.type.toLowerCase()}-line.component.spec.ts")##
import { async, ComponentFixture, TestBed } from '@angular/core/testing';

import { ${entity.model.type}LineComponent } from './${entity.model.type.toLowerCase()}-line.component';

describe('${entity.model.type}LineComponent', () => {
  let component: ${entity.model.type}LineComponent;
  let fixture: ComponentFixture<${entity.model.type}LineComponent>;

  beforeEach(async(() => {
    TestBed.configureTestingModule({
      declarations: [ ${entity.model.type}LineComponent ]
    })
    .compileComponents();
  }));

  beforeEach(() => {
    fixture = TestBed.createComponent(${entity.model.type}LineComponent);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
