$output.file("src/app/entities/entities.module.ts")##
import { NgModule } from '@angular/core';
import { NgbModule } from '@ng-bootstrap/ng-bootstrap';
import { CommonModule } from '@angular/common';
import { FormsModule, ReactiveFormsModule } from '@angular/forms';
import { RouterModule } from '@angular/router';
import { MatSortModule } from '@angular/material';
import { CdkTableModule } from '@angular/cdk/table';
import { FileUploadModule } from 'primeng/fileupload';

import { NgSelectModule } from '@ng-select/ng-select';
import { NgxMaskModule } from 'ngx-mask';

import { SharedModule } from '../shared/shared.module';
import { EntitiesRoutingModule } from './entities-routing.module';
import { EntitiesComponent } from './entities.component';

#foreach($entity in $project.withoutManyToManyJoinEntities.list)
import { ${entity.model.type}ListComponent } from './${entity.model.type.toLowerCase()}/${entity.model.type.toLowerCase()}-list/${entity.model.type.toLowerCase()}-list.component';
import { ${entity.model.type}DetailComponent } from './${entity.model.type.toLowerCase()}/${entity.model.type.toLowerCase()}-detail/${entity.model.type.toLowerCase()}-detail.component';
import { ${entity.model.type}LineComponent } from './${entity.model.type.toLowerCase()}/${entity.model.type.toLowerCase()}-line/${entity.model.type.toLowerCase()}-line.component';
import { ${entity.model.type}AutocompleteComponent } from './${entity.model.type.toLowerCase()}/${entity.model.type.toLowerCase()}-autocomplete/${entity.model.type.toLowerCase()}-autocomplete.component';
#end

@NgModule({
  imports: [
    NgbModule,
    CommonModule,
    FormsModule,
    ReactiveFormsModule,
    RouterModule,
    EntitiesRoutingModule,

    NgSelectModule,
    NgxMaskModule.forChild(),

    MatSortModule,

    CdkTableModule,

    // Primeng
    FileUploadModule,

    SharedModule
  ],
  declarations: [
    EntitiesComponent,

#foreach($entity in $project.withoutManyToManyJoinEntities.list)
    ${entity.model.type}ListComponent,
    ${entity.model.type}DetailComponent,
    ${entity.model.type}LineComponent,
    ${entity.model.type}AutocompleteComponent,
#end
  ],
  exports: [
#foreach($entity in $project.withoutManyToManyJoinEntities.list)
    ${entity.model.type}ListComponent,
    ${entity.model.type}DetailComponent,
    ${entity.model.type}LineComponent,
    ${entity.model.type}AutocompleteComponent,
#end
  ]
})
export class EntitiesModule {}
