$output.file("src/app/entities/enumerators.service.ts")##
import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Observable } from 'rxjs';
import { environment } from '../../environments/environment';
import { AbstractEnumeratorsService } from 'framework-lib';

@Injectable({
    providedIn: 'root'
})
export class EnumeratorsService extends AbstractEnumeratorsService {

    constructor(protected http: HttpClient) {
        super(http);
    }

    public getApiUrl(): string {
        return environment.baseUrl + '/v1/enums/';
    }

    /**
     * Retorna uma coleção de valores do enumerator informado.
     * @param enumType
     */
    public getEnumValues(enumType: string): Observable<any[]> {
        return this.http.get<any[]>(this.getApiUrl() + enumType);
    }

#foreach($enumType in $project.enumTypes)
    /**
     * Retorna a coleção de valores do enumerator: ${enumType.model.type}
     */
    public get${enumType.model.type}Values(): Observable<any[]> {
        return this.getEnumValues('${enumType.model.type}');
    }

#end
}
