			<div class="row">
				<div class="col-md-12">
			    		<div class="form-group" ng-class="{'has-error': ClienteForm.tipoPessoa.$invalid}">
				    		<div class="col-sm-12">
					    		<div class="radio">
								<label>
									<input type="radio" name="tipoPessoa" id="tipoPessoa" value="F" checked="" ng-model="vmCliente.tipoPessoa" />
									Pessoa f&iacute;sica
								</label>
								<span>&nbsp;</span>
								<label>
									<input type="radio" name="tipoPessoa" id="tipoPessoa" value="J" ng-model="vmCliente.tipoPessoa" />
									Pessoa jur&iacute;dica
								</label>
							</div>
				        </div>
					</div>
				</div>
		    </div>
		    
		    <ng-include ng-show="vmCliente.tipoPessoa == 'F'" src="'app/pessoaFisica/detail-inc.html'" ng-controller="PessoaJuridicaController as vmPessoaJuridica"></ng-include>
		    <ng-include ng-show="vmCliente.tipoPessoa == 'J'" src="'app/pessoaJuridica/detail-inc.html'" ng-controller="PessoaJuridicaController as vmPessoaJuridica"></ng-include>
		    	
