<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header modal-primary">
			<div class="row">
				<div class="col-lg-9">
					<h3>Cliente</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<form id="ClienteForm" name="ClienteForm" class="form-horizontal" role="form">
			
				<ng-include src="'app/cliente/detail-inc.html'"></ng-include>
				
				<div class="modal-footer">
					<button class="btn btn-primary" ng-click="vmCliente.onClickModalConfirmar()">Confirmar</button>
					<button class="btn btn-warning" ng-click="vmCliente.onClickModalCancelar()">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>
