			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': KeycloakUsuarioForm.primeiroNome.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="primeiroNome">PrimeiroNome</label>					        
				            <input id="primeiroNome" name="primeiroNome" type="text" class="form-control" ng-model="vmKeycloakUsuario.entity.primeiroNome"
							ng-required="true" ng-maxlength="255" ng-disabled="vmKeycloakUsuario.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="KeycloakUsuarioForm.primeiroNome.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="KeycloakUsuarioForm.primeiroNome.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="KeycloakUsuarioForm.primeiroNome.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': KeycloakUsuarioForm.ultimoNome.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="ultimoNome">UltimoNome</label>					        
				            <input id="ultimoNome" name="ultimoNome" type="text" class="form-control" ng-model="vmKeycloakUsuario.entity.ultimoNome"
							ng-maxlength="255" ng-disabled="vmKeycloakUsuario.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="KeycloakUsuarioForm.ultimoNome.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': KeycloakUsuarioForm.email.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="email">Email</label>					        
				            <input id="email" name="email" type="text" class="form-control" ng-model="vmKeycloakUsuario.entity.email"
							ng-required="true" ng-maxlength="255" ng-disabled="vmKeycloakUsuario.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="KeycloakUsuarioForm.email.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="KeycloakUsuarioForm.email.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="KeycloakUsuarioForm.email.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': KeycloakUsuarioForm.login.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="login">Login</label>					        
				            <input id="login" name="login" type="text" class="form-control" ng-model="vmKeycloakUsuario.entity.login"
							ng-required="true" ng-maxlength="255" ng-disabled="vmKeycloakUsuario.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="KeycloakUsuarioForm.login.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="KeycloakUsuarioForm.login.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="KeycloakUsuarioForm.login.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': KeycloakUsuarioForm.idKeycloak.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="idKeycloak">IdKeycloak</label>					        
				            <input id="idKeycloak" name="idKeycloak" type="text" class="form-control" ng-model="vmKeycloakUsuario.entity.idKeycloak"
							ng-maxlength="255" ng-disabled="vmKeycloakUsuario.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="KeycloakUsuarioForm.idKeycloak.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
		    
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" >
			    		<div class="col-sm-12">
				        	<label for="grupos">Grupos</label>
							<ui-select id="grupos" multiple="true" ng-model="vmKeycloakUsuario.entity.grupos" theme="bootstrap" ng-disabled="vmKeycloakUsuario.viewMode">
								<ui-select-match placeholder="Selecione...">{{$item.nome}}</ui-select-match>
							    <ui-select-choices repeat="keycloakGrupo in vmKeycloakUsuario.keycloakGrupoList track by keycloakGrupo.id"
							    	refresh="vmKeycloakUsuario.listarKeycloakGrupo($select.search)" refresh-delay="300">
							        <div ng-bind-html="keycloakGrupo.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': KeycloakUsuarioForm.imagem.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="imagem">Imagem</label>					        
				            <ui-select id="imagem" name="imagem" ng-model="vmKeycloakUsuario.entity.imagem" theme="bootstrap" 
				            	ng-disabled="vmKeycloakUsuario.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.nome}}</ui-select-match>
							    <ui-select-choices repeat="imagem in vmKeycloakUsuario.imagemList track by imagem.id"
							    	refresh="vmKeycloakUsuario.listarImagem($select.search)" refresh-delay="300">
							        <div ng-bind-html="imagem.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
