$output.file("src/app/entities/${entity.model.type.toLowerCase()}/${entity.model.type.toLowerCase()}-list/${entity.model.type.toLowerCase()}-list.component.scss")##
.mat-card-header {
  color: rgba(0, 0, 0, 0.54);
  background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
  height: 3em;
  display: flex;
  align-items: center;
}

.mat-card-search {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.mat-card-search .mat-card-title {
  margin-bottom: 0px;
  margin-left: 1em;
}

.mat-card-search .mat-card-content {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 1.5em;
}

.mat-card-search .mat-card-actions {
  padding-top: 0em;
  padding-bottom: 0em;
  margin-left: 1em;
}

.search-results {
  .globalFilter {
    margin: 1em 1em 0em 1em;
    width: 50%;
  }
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields > * {
  width: 100%;
}

.mat-column-actions {
  justify-content: center;
}