			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': UfForm.nome.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="nome">Nome</label>					        
				            <input id="nome" name="nome" type="text" class="form-control" ng-model="vmUf.entity.nome"
							ng-required="true" ng-maxlength="255" ng-disabled="vmUf.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="UfForm.nome.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="UfForm.nome.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="UfForm.nome.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': UfForm.sigla.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="sigla">Sigla</label>					        
				            <input id="sigla" name="sigla" type="text" class="form-control" ng-model="vmUf.entity.sigla"
							ng-required="true" ng-maxlength="255" ng-disabled="vmUf.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="UfForm.sigla.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="UfForm.sigla.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="UfForm.sigla.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': UfForm.codigoIbge.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="codigoIbge">CodigoIbge</label>					        
				            <input id="codigoIbge" name="codigoIbge" type="text" class="form-control" ng-model="vmUf.entity.codigoIbge"
							ng-maxlength="2" ng-disabled="vmUf.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="UfForm.codigoIbge.$error.maxlength">O tamanho máximo é 2</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': UfForm.pais.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="pais">Pais</label>					        
				            <ui-select id="pais" name="pais" ng-model="vmUf.entity.pais" theme="bootstrap" 
				            	ng-disabled="vmUf.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.nome}}</ui-select-match>
							    <ui-select-choices repeat="pais in vmUf.paisList track by pais.id"
							    	refresh="vmUf.listarPais($select.search)" refresh-delay="300">
							        <div ng-bind-html="pais.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
