			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': BairroForm.nome.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="nome">Nome</label>					        
				            <input id="nome" name="nome" type="text" class="form-control" ng-model="vmBairro.entity.nome"
							ng-required="true" ng-maxlength="255" ng-disabled="vmBairro.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="BairroForm.nome.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="BairroForm.nome.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="BairroForm.nome.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': BairroForm.cidade.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="cidade">Cidade</label>					        
				            <ui-select id="cidade" name="cidade" ng-model="vmBairro.entity.cidade" theme="bootstrap" 
				            	ng-disabled="vmBairro.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.nome}}</ui-select-match>
							    <ui-select-choices repeat="cidade in vmBairro.cidadeList track by cidade.id"
							    	refresh="vmBairro.listarCidade($select.search)" refresh-delay="300">
							        <div ng-bind-html="cidade.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
