#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<a href="${symbol_pound}" class="dropdown-toggle" data-toggle="dropdown">
  <!-- <img src="lib/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
  <i class="fa fa-home"></i>
  <span class="hidden-xs">Piloto</span>
</a>
<ul class="dropdown-menu">
  <!-- User image -->
  <li class="user-header">
    <!-- <img src="lib/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
    <i class="fa fa-user-circle fa-5x" style="color:white;"></i>
    <p ng-bind="getNomeCompleto();">

    </p>
    <small ng-bind="getEmail();" style="color:white;"></small>
  </li>
  <!-- Menu Body -->
  <!-- <li class="user-body">
    <div class="col-xs-4 text-center">
      <a href="${symbol_pound}">Followers</a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="${symbol_pound}">Sales</a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="${symbol_pound}">Friends</a>
    </div>
  </li> -->
  <!-- Menu Footer-->
  <li class="user-footer">
    <div class="pull-left">
      <!-- <a href="${symbol_pound}" class="btn btn-default btn-flat">Profile</a> -->
    </div>
    <div class="pull-right">
      <a href="${symbol_pound}" class="btn btn-default btn-flat" ng-click="logout();">Sair</a>
    </div>
  </li>
</ul>