	<h4>Contatos</h4>
	<div class="row">
		<div class="col-md-12">
    		<div class="form-group" ng-class="{'has-error': PessoaContatoForm.email.$invalid}">
	    		<div class="col-sm-12">
		        	<label for="email">E-mail</label>					        
		            <input id="email" name="email" type="text" class="form-control" ng-model="vmPessoaContato.entity.email"
					ng-maxlength="100" ng-disabled="vmPessoaContato.viewMode">
		            </input>
	            	<span class="help-block error" ng-show="PessoaContatoForm.email.$error.maxlength">O tamanho máximo é 100</span>
		        </div>
			</div>
		</div>
    </div>
    
	<div class="row">
		<div class="col-md-12">
    		<div class="form-group" ng-class="{'has-error': PessoaContatoForm.ddd.$invalid}">
	    		<div class="col-sm-12">
		        	<label for="ddd">DDD</label>					        
		            <input id="ddd" name="ddd" type="text" class="form-control" ng-model="vmPessoaContato.entity.ddd"
					ng-maxlength="2" ng-disabled="vmPessoaContato.viewMode">
		            </input>
	            	<span class="help-block error" ng-show="PessoaContatoForm.ddd.$error.maxlength">O tamanho máximo é 2</span>
		        </div>
			</div>
		</div>
    </div>
    
	<div class="row">
		<div class="col-md-12">
    		<div class="form-group" ng-class="{'has-error': PessoaContatoForm.numero.$invalid}">
	    		<div class="col-sm-12">
		        	<label for="numero">N&uacute;mero</label>					        
		            <input id="numero" name="numero" type="text" class="form-control" ng-model="vmPessoaContato.entity.numero"
					ng-maxlength="12" ng-disabled="vmPessoaContato.viewMode">
		            </input>
	            	<span class="help-block error" ng-show="PessoaContatoForm.numero.$error.maxlength">O tamanho máximo é 12</span>
		        </div>
			</div>
		</div>
    </div>
    
    <div class="row">
		<div class="col-md-2">
			<div class="form-group">
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary" ng-click="vmPessoaContato.addItem();" ng-disabled="!vmPessoaContato.isItemValid()">
						Adicionar <i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-sm-12">
					<table class="table table-condensed table-bordered">
						<tr>
							<th style="width: 10px">#</th>
							<th>E-mail</th>
							<th style="width: 10px; text-align: center;">DDD</th>
							<th style="width: 100px">N&uacute;mero</th>
							<th style="width: 40px; text-align: center;"></th>
						</tr>
						<tr ng-repeat="item in vmPessoaContato.contatos">
							<td>{{$index + 1}}</td>
							<td>{{item.email}}</td>
							<td>{{item.ddd}}</td>
							<td>{{item.numero}}</td>
							<td style="text-align: center;">
								<button type="button" class="btn btn-danger" ng-click="vmPessoaContato.removeItem($index);"><i class="fa fa-trash"></i><span class="hidden-xs"> Remover</span></button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>