			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': FilialForm.pessoaJuridica.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="pessoaJuridica">PessoaJuridica</label>					        
				            <ui-select id="pessoaJuridica" name="pessoaJuridica" ng-model="vmFilial.entity.pessoaJuridica" theme="bootstrap" 
				            	ng-disabled="vmFilial.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.id}}</ui-select-match>
							    <ui-select-choices repeat="pessoaJuridica in vmFilial.pessoaJuridicaList track by pessoaJuridica.id"
							    	refresh="vmFilial.listarPessoaJuridica($select.search)" refresh-delay="300">
							        <div ng-bind-html="pessoaJuridica.id | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': FilialForm.empresa.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="empresa">Empresa</label>					        
				            <ui-select id="empresa" name="empresa" ng-model="vmFilial.entity.empresa" theme="bootstrap" 
				            	ng-disabled="vmFilial.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.id}}</ui-select-match>
							    <ui-select-choices repeat="empresa in vmFilial.empresaList track by empresa.id"
							    	refresh="vmFilial.listarEmpresa($select.search)" refresh-delay="300">
							        <div ng-bind-html="empresa.id | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
