<div class="row">
	<div class="col-md-12">
   		<div class="form-group" ng-class="{'has-error': PessoaJuridicaForm.nomePessoa.$invalid}">
    		<div class="col-sm-12">
	        	<label for="nomePessoa">Raz&atilde;o social</label>					        
	            <input id="nomePessoa" name="nomePessoa" type="text" class="form-control" ng-model="vmPessoaJuridica.entity.nomePessoa"
				ng-required="true" ng-maxlength="255" ng-disabled="vmPessoaJuridica.viewMode">
	            </input>
            	<span class="help-block error" ng-show="PessoaJuridicaForm.nomePessoa.$error.required">obrigatório</span>
        		<span class="help-block error" ng-show="PessoaJuridicaForm.nomePessoa.$error.minlength">O tamanho mínimo é 1</span>
            	<span class="help-block error" ng-show="PessoaJuridicaForm.nomePessoa.$error.maxlength">O tamanho máximo é 255</span>
	        </div>
		</div>
	</div>
</div>
   
<div class="row">
	<div class="col-md-12">
   		<div class="form-group" ng-class="{'has-error': PessoaJuridicaForm.cnpj.$invalid}">
    		<div class="col-sm-12">
	        	<label for="cnpj">CNPJ</label>					        
	            <input id="cnpj" name="cnpj" type="text" class="form-control" ng-model="vmPessoaJuridica.entity.cnpj" ng-maxlength="14" ng-disabled="vmPessoaJuridica.viewMode">
	            </input>
            	<span class="help-block error" ng-show="PessoaJuridicaForm.cnpj.$error.maxlength">O tamanho máximo é 14</span>
	        </div>
		</div>
	</div>
</div>
   
<div class="row">
	<div class="col-md-12">
   		<div class="form-group" ng-class="{'has-error': PessoaJuridicaForm.nomeFantasia.$invalid}">
    		<div class="col-sm-12">
	        	<label for="nomeFantasia">Nome fantasia</label>					        
	            <input id="nomeFantasia" name="nomeFantasia" type="text" class="form-control" ng-model="vmPessoaJuridica.entity.nomeFantasia"
				ng-maxlength="255" ng-disabled="vmPessoaJuridica.viewMode">
	            </input>
            	<span class="help-block error" ng-show="PessoaJuridicaForm.nomeFantasia.$error.maxlength">O tamanho máximo é 255</span>
	        </div>
		</div>
	</div>
</div>

<ng-include src="'app/endereco/detail.inc.html'" ng-controller="EnderecoController as vmEndereco"></ng-include>
<ng-include src="'app/pessoaContato/list-detail.inc.html'" ng-controller="PessoaContatoController as vmPessoaContato"></ng-include>

