			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.operadora.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="operadora">Operadora</label>					        
				            <ui-select id="operadora" name="operadora" ng-model="vmSimcard.entity.operadora" theme="bootstrap" 
				            	ng-disabled="vmSimcard.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.nome}}</ui-select-match>
							    <ui-select-choices repeat="operadora in vmSimcard.operadoraList track by operadora.id"
							    	refresh="vmSimcard.listarOperadora($select.search)" refresh-delay="300">
							        <div ng-bind-html="operadora.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.ddd.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="ddd">Ddd</label>					        
				            <input id="ddd" name="ddd" type="text" class="form-control" ng-model="vmSimcard.entity.ddd"
							ng-maxlength="3" ng-disabled="vmSimcard.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="SimcardForm.ddd.$error.maxlength">O tamanho máximo é 3</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.numero.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="numero">Numero</label>					        
				            <input id="numero" name="numero" type="text" class="form-control" ng-model="vmSimcard.entity.numero"
							ng-required="true" ng-maxlength="12" ng-disabled="vmSimcard.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="SimcardForm.numero.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="SimcardForm.numero.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="SimcardForm.numero.$error.maxlength">O tamanho máximo é 12</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.imei.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="imei">Imei</label>					        
				            <input id="imei" name="imei" type="text" class="form-control" ng-model="vmSimcard.entity.imei"
							ng-required="true" ng-maxlength="255" ng-disabled="vmSimcard.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="SimcardForm.imei.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="SimcardForm.imei.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="SimcardForm.imei.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
		    <div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.dataCompra.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="dataCompra">DataCompra</label>					        
							<p class="input-group">
								<input id="dataCompra" name="dataCompra" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="vmSimcard.entity.dataCompra" ng-disabled="vmSimcard.viewMode"
									is-open="vmSimcard.dataCompraPopupOpened" close-text="Fechar"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="vmSimcard.dataCompraPopupOpened = true" ng-disabled="vmSimcard.viewMode"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
					        </p>
				        </div>
					</div>
				</div>
		    </div>
		    
		    <div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.dataNotaFiscal.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="dataNotaFiscal">DataNotaFiscal</label>					        
							<p class="input-group">
								<input id="dataNotaFiscal" name="dataNotaFiscal" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="vmSimcard.entity.dataNotaFiscal" ng-disabled="vmSimcard.viewMode"
									is-open="vmSimcard.dataNotaFiscalPopupOpened" close-text="Fechar"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="vmSimcard.dataNotaFiscalPopupOpened = true" ng-disabled="vmSimcard.viewMode"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
					        </p>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.notaFiscal.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="notaFiscal">NotaFiscal</label>					        
				            <input id="notaFiscal" name="notaFiscal" type="text" class="form-control" ng-model="vmSimcard.entity.notaFiscal"
							ng-maxlength="15" ng-disabled="vmSimcard.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="SimcardForm.notaFiscal.$error.maxlength">O tamanho máximo é 15</span>
				        </div>
					</div>
				</div>
		    </div>
		    
		    <div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.dataCancelamento.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="dataCancelamento">DataCancelamento</label>					        
				            <p class="input-group">
								<input id="dataCancelamento" name="dataCancelamento" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm:ss" ng-model="vmSimcard.entity.dataCancelamento" ng-disabled="vmSimcard.viewMode"
									is-open="vmSimcard.dataCancelamentoPopupOpened" button-bar="{show: true, now: {show: true, text: 'Agora'}, today: {show: true, text: 'Hoje'}, clear: {show: true, text: 'Limpar'}, date: {show: true, text: 'Data'}, time: {show: true, text: 'Hora'}, close: {show: true, text: 'Fechar'}}"
									/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="vmSimcard.dataCancelamentoPopupOpened = true" ng-disabled="vmSimcard.viewMode"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
					        </p>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.habilitado.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="habilitado">Habilitado</label>					        
				            <ui-select id="habilitado" name="habilitado" ng-model="vmSimcard.entity.habilitado" theme="bootstrap" 
				            	ng-disabled="vmSimcard.viewMode" ng-required="true">
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.label}}</ui-select-match>
							    <ui-select-choices repeat="item.key as item in vmSimcard.habilitadoList | filter: { label: $select.search }">
							        <div ng-bind-html="item.label | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
			            	<span class="help-block error" ng-show="SimcardForm.habilitado.$error.required">obrigatório</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.empresa.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="empresa">Empresa</label>					        
				            <ui-select id="empresa" name="empresa" ng-model="vmSimcard.entity.empresa" theme="bootstrap" 
				            	ng-disabled="vmSimcard.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.id}}</ui-select-match>
							    <ui-select-choices repeat="empresa in vmSimcard.empresaList track by empresa.id"
							    	refresh="vmSimcard.listarEmpresa($select.search)" refresh-delay="300">
							        <div ng-bind-html="empresa.id | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': SimcardForm.usoSimcard.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="usoSimcard">UsoSimcard</label>					        
				            <ui-select id="usoSimcard" name="usoSimcard" ng-model="vmSimcard.entity.usoSimcard" theme="bootstrap" 
				            	ng-disabled="vmSimcard.viewMode" ng-required="true">
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.label}}</ui-select-match>
							    <ui-select-choices repeat="item.key as item in vmSimcard.usoSimcardList | filter: { label: $select.search }">
							        <div ng-bind-html="item.label | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
			            	<span class="help-block error" ng-show="SimcardForm.usoSimcard.$error.required">obrigatório</span>
				        </div>
					</div>
				</div>
		    </div>
		    
