<app-loading-spinner-overlay label="{{'LABEL.LOADING' | translate}}" *ngIf="dataSource.loading$ | async"></app-loading-spinner-overlay>
<div>
    <!-- Main content -->
    <section class="content">

        <h2>{{'MESSAGE.ENTITY_MANAGEMENT' | translate:{'entity': 'Parametro'} }}</h2>

        <div *ngIf="!sub" class="card mt-3 shadow-sm" [formGroup]="searchForm" id="parametroFiltersCollapse">
            <div class="card-body">
                <h4 [class.card-title]="!isFiltersCollapsed" [class.m-0]="isFiltersCollapsed">
                    {{'LABEL.RESEARCH_FILTER' | translate}}
                    <button class="btn btn-link pl-1" (click)="isFiltersCollapsed = !isFiltersCollapsed" [attr.aria-expanded]="!isFiltersCollapsed" 
                            aria-controls="parametroFiltersCollapse">
                        <i class="fas fa-lg" [class.fa-chevron-up]="!isFiltersCollapsed" [class.fa-chevron-down]="isFiltersCollapsed"></i>
                    </button>
                </h4>

                <div [ngbCollapse]="isFiltersCollapsed">


                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="descricao">{{'PARAMETRO.DESCRICAO' | translate}}</label>
                            <input class="form-control" type="text" formControlName="descricao" id="descricao" />
                        </div>
                    </div>

 
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="valor">{{'PARAMETRO.VALOR' | translate}}</label>
                            <textarea class="form-control" formControlName="valor" id="valor"></textarea>
                        </div>
                    </div>

 
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="chave">{{'PARAMETRO.CHAVE' | translate}}</label>
                            <input class="form-control" type="text" formControlName="chave" id="chave" />
                        </div>
                    </div>

 
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="dataHoraAlteracao">{{'PARAMETRO.DATAHORAALTERACAO' | translate}}</label>
                            <app-datetime-picker formControlName="dataHoraAlteracao"  [id]="'dataHoraAlteracao'" [timePicker]="true"
                                placement="bottom-left"></app-datetime-picker>
                        </div>
                    </div>

 
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>{{'PARAMETRO.TIPOPARAMETRO' | translate}}</label>
                            <div>
                                <div class="custom-control custom-radio custom-control-inline" *ngFor="let tipoParametroOption of cacheEnums['TipoParametro']; let i = index">
                                    <input type="radio" id="{{'tipoParametroOption' + i}}" class="custom-control-input" 
                                      [value]="tipoParametroOption.key" formControlName="tipoParametro">
                                    <label class="custom-control-label" for="{{'tipoParametroOption' + i}}">{{ tipoParametroOption.label }}</label>
                                </div>
                            </div>
                        </div>
                    </div>

  
                    <button class="btn btn-primary" (click)="onClickSearch()">
                        <i class="fas fas fa-search"></i> {{'LABEL.RESEARCH' | translate}}
                    </button>
                </div>

            </div>
        </div>

        <div class="search-results card mt-4 shadow-sm">
            <div class="card-body">

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <button class="btn btn-primary" (click)="onClickNew()">
                            <i class="fas fa-plus"></i> {{'LABEL.ADD' | translate}}
                        </button>
                    </div>
                    <div class="form-group col-md-4">
                        <input class="form-control" type="text" placeholder="{{'LABEL.FILTER' | translate}}" attr.aria-label="{{'LABEL.FILTER' | translate}}" #searchInput />
                    </div>
                </div>

                <div class="table-responsive">

                    <table cdk-table class="table table-hover table-striped" [dataSource]="dataSource" matSort matSortDirection="asc" matSortDisableClear>

																		                        <ng-container cdkColumnDef="descricao">
                            <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>{{'PARAMETRO.DESCRICAO' | translate}}</th>
                            <td cdk-cell *cdkCellDef="let entity">{{entity.descricao}}</td>
                        </ng-container>
																								                        <ng-container cdkColumnDef="valor">
                            <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>{{'PARAMETRO.VALOR' | translate}}</th>
                            <td cdk-cell *cdkCellDef="let entity">{{entity.valor}}</td>
                        </ng-container>
																								                        <ng-container cdkColumnDef="chave">
                            <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>{{'PARAMETRO.CHAVE' | translate}}</th>
                            <td cdk-cell *cdkCellDef="let entity">{{entity.chave}}</td>
                        </ng-container>
																								                        <ng-container cdkColumnDef="dataHoraAlteracao">
                            <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>{{'PARAMETRO.DATAHORAALTERACAO' | translate}}</th>
                            <td cdk-cell *cdkCellDef="let entity">{{entity.dataHoraAlteracao | date:"dd/MM/yyyy HH:mm" }}</td>
                        </ng-container>
																								                        <ng-container cdkColumnDef="tipoParametro">
                            <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>{{'PARAMETRO.TIPOPARAMETRO' | translate}}</th>
                            <td cdk-cell *cdkCellDef="let entity">{{entity.tipoParametro}}</td>
                        </ng-container>
						
                        <ng-container cdkColumnDef="actions">
                            <th cdk-header-cell *cdkHeaderCellDef><span class="sr-only">{{'LABEL.ACTIONS' | translate}}</span></th>
                            <td cdk-cell *cdkCellDef="let entity" class="col-actions text-right">
                                <button ngbTooltip="{{'LABEL.DETAIL' | translate}}" class="btn btn-sm btn-outline-dark grid-button" (click)="onClickView(entity)" attr.aria-label="{{'LABEL.DETAIL' | translate}}">
                                    <i class="fas fa-fw fa-file"></i>
                                </button>
                                <button ngbTooltip="{{'LABEL.EDIT' | translate}}" class="btn btn-sm btn-outline-dark grid-button" (click)="onClickEdit(entity)" attr.aria-label="{{'LABEL.EDIT' | translate}}">
                                    <i class="fas fa-fw fa-pen"></i>
                                </button>
                                <button ngbTooltip="{{'LABEL.DELETE' | translate}}" class="btn btn-sm btn-outline-dark grid-button" (click)="onClickRemove(entity)" attr.aria-label="{{'LABEL.DELETE' | translate}}">
                                    <i class="fas fa-fw fa-trash"></i>
                                </button>
                            </td>
                        </ng-container>

                        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
                        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>

                    </table>

                </div>
                <ngb-pagination class="d-flex justify-content-center" [collectionSize]="dataSource.itemsCount$ | async" 
                	[(page)]="paginator.page" (pageChange)="onPageChanges($event)"
                	[pageSize]="paginator.pageSize" [maxSize]="paginationMaxSize" [rotate]="paginationRotate" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>

    </section>
    <!-- /.content -->

</div>
