<div class="card">
  <div class="card-header">
    Parâmetro
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary" (click)="onClickNew()">
      Adicionar
    </button>
  </div>
</div>

<div class="card" *ngIf="!sub">
  <div class="card-header">
    Filtro
  </div>
  <div class="card-body">
    <form (submit)="onClickSearch()">
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" 
          [(ngModel)]="filters['descricao'].value" name="descricao" id="descricao" #descricao="ngModel"
          aria-describedby="descricaoHelp" placeholder="Descricao">
        <small id="descricaoHelp" class="form-text text-muted">Descrição do parâmetro.</small>
      </div>
      <div class="form-group">
        <label for="chave">Chave</label>
        <input type="text" class="form-control" 
          [(ngModel)]="filters['chave'].value" name="chave" id="chave" #chave="ngModel"
          aria-describedby="chaveHelp" placeholder="chave">
        <small id="chaveHelp" class="form-text text-muted">Chave do parâmetro.</small>
      </div>
      <div class="form-group">
        <label for="valor">Valor</label>
        <textarea class="form-control" autoResize="true" [(ngModel)]="filters['valor'].value" name="valor" id="valor" #valor="ngModel"
          aria-describedby="valorHelp" placeholder="Valor"></textarea>
        <small id="valorHelp" class="form-text text-muted">Valor do parâmetro.</small>
      </div>
      <button type="submit" class="btn btn-primary" (click)="onClickSearch()">Pesquisar</button>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Resultados
  </div>
  <div class="card-body">
    <mat-form-field class="globalFilter">
      <input matInput placeholder="Filtrar" #searchInput>
      
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort matSortActive="nome" matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef mat-sort-header>DESCRICAO</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.descricao}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>VALOR</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.valor}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="chave">
        <mat-header-cell *matHeaderCellDef mat-sort-header>CHAVE</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.chave}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="dataHoraAlteracao">
        <mat-header-cell *matHeaderCellDef mat-sort-header>DATA HORA ALTERACAO</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.dataHoraAlteracao | date:"dd-MM-yyyy hh:mm" }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="tipoParametro">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TIPO PARAMETRO</mat-header-cell>
        <mat-cell *matCellDef="let entity">{{entity.tipoParametro}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions" class="col-actions">
        <mat-header-cell *matHeaderCellDef>AÇÕES</mat-header-cell>
        <mat-cell *matCellDef="let entity">
          <button type="button" class="btn btn-primary" (click)="onClickView(entity)">
            Ver
          </button>
          <button type="button" class="btn btn-warning" (click)="onClickEdit(entity)">
            Editar
          </button>
          <button type="button" class="btn btn-danger" (click)="onClickRemove(entity)">
            Remover
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <mat-paginator [length]="dataSource.itemsCount$ | async" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 100]">
    </mat-paginator>
  </div>
</div>