#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
	<!-- <li class="header">MENU PRINCIPAL</li> -->
	<li>
		<a href="${symbol_pound}/Pais"> <i class="fa fa-dashboard"></i>
			<span>Pa&iacute;s</span>
		</a>
	</li>
	<li>
		<a href="${symbol_pound}/Uf"> <i class="fa fa-dashboard"></i>
			<span>UF</span>
		</a>
	</li>
	<li>
		<a href="${symbol_pound}/Cidade"> <i class="fa fa-dashboard"></i>
			<span>Cidade</span>
		</a>
	</li>
	<li>
		<a href="${symbol_pound}/Bairro"> <i class="fa fa-dashboard"></i>
			<span>Bairro</span>
		</a>
	</li>
	<li access="admin,user"><a href="${symbol_pound}/Sobre"> <i class="fa fa-question"></i>
			<!-- <span>Dashboard</span> <small class="label pull-right bg-green">novo</small> -->
			<span>Sobre</span>
		</a>
	</li>

<!-- 	<li class="treeview">
		<a href="">
			<i class="fa fa-edit"></i><span>Cadastros</span><i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<li access="admin,user">
				<a href="${symbol_pound}/Lote"><i class="fa fa-circle-o"></i> Lotes</a>
			</li>
		</ul>
	</li> -->
</ul>