#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!-- Sidebar user panel -->
<div class="user-panel">
	<div class="pull-left image">
<!-- 		<img src="lib/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle"
			alt="User Image">

 -->	

</div>
	<div ng-controller="LoginController" class="pull-left info">
		<div style="display: -webkit-box;">
		<i class="fa fa-user-circle"></i><span>&nbsp;</span><p ng-bind="getPrimeiroUltimoNome();"></p>
		</div>
		<a href="${symbol_pound}" style="padding-left: 2px;"><i class="fa fa-circle text-success"></i> Online</a>
	</div>
</div>