			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': CelularForm.trackingAtivo.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="trackingAtivo">TrackingAtivo</label>					        
				            <ui-select id="trackingAtivo" name="trackingAtivo" ng-model="vmCelular.entity.trackingAtivo" theme="bootstrap" 
				            	ng-disabled="vmCelular.viewMode" ng-required="true">
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.label}}</ui-select-match>
							    <ui-select-choices repeat="item.key as item in vmCelular.trackingAtivoList | filter: { label: $select.search }">
							        <div ng-bind-html="item.label | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
			            	<span class="help-block error" ng-show="CelularForm.trackingAtivo.$error.required">obrigatório</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': CelularForm.imei.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="imei">Imei</label>					        
				            <input id="imei" name="imei" type="text" class="form-control" ng-model="vmCelular.entity.imei"
							ng-required="true" ng-maxlength="255" ng-disabled="vmCelular.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="CelularForm.imei.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="CelularForm.imei.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="CelularForm.imei.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': CelularForm.serial.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="serial">Serial</label>					        
				            <input id="serial" name="serial" type="text" class="form-control" ng-model="vmCelular.entity.serial"
							ng-required="true" ng-maxlength="255" ng-disabled="vmCelular.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="CelularForm.serial.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="CelularForm.serial.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="CelularForm.serial.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': CelularForm.filial.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="filial">Filial</label>					        
				            <ui-select id="filial" name="filial" ng-model="vmCelular.entity.filial" theme="bootstrap" 
				            	ng-disabled="vmCelular.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.id}}</ui-select-match>
							    <ui-select-choices repeat="filial in vmCelular.filialList track by filial.id"
							    	refresh="vmCelular.listarFilial($select.search)" refresh-delay="300">
							        <div ng-bind-html="filial.id | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': CelularForm.simcard.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="simcard">Simcard</label>					        
				            <ui-select id="simcard" name="simcard" ng-model="vmCelular.entity.simcard" theme="bootstrap" 
				            	ng-disabled="vmCelular.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.id}}</ui-select-match>
							    <ui-select-choices repeat="simcard in vmCelular.simcardList track by simcard.id"
							    	refresh="vmCelular.listarSimcard($select.search)" refresh-delay="300">
							        <div ng-bind-html="simcard.id | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': CelularForm.versao.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="versao">Versao</label>					        
				            <input id="versao" name="versao" type="text" class="form-control" ng-model="vmCelular.entity.versao"
							ng-maxlength="20" ng-disabled="vmCelular.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="CelularForm.versao.$error.maxlength">O tamanho máximo é 20</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': CelularForm.modelo.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="modelo">Modelo</label>					        
				            <ui-select id="modelo" name="modelo" ng-model="vmCelular.entity.modelo" theme="bootstrap" 
				            	ng-disabled="vmCelular.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.nome}}</ui-select-match>
							    <ui-select-choices repeat="modelo in vmCelular.modeloList track by modelo.id"
							    	refresh="vmCelular.listarModelo($select.search)" refresh-delay="300">
							        <div ng-bind-html="modelo.nome | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
