<div class="modal-header">
  <h4 class="modal-title">Confirmação</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="dialogRef.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="text-center mt-4">Você gostaria de remover este item?</p>
</div>
<div class="modal-footer border-top-0">
  <button class="btn btn-primary" ngbAutofocus (click)="dialogRef.close('delete')">
    Confirmar
  </button>
  <button class="btn btn-outline-secondary" (click)="dialogRef.dismiss('cancel')">
    Cancelar
  </button>
</div>
