<div>
	<div ng-if="filtroModel.tipoFiltro == 'SELECT_ONE'">
		<ui-select ng-model="$parent.$parent.ngModel" theme="bootstrap">
			<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.label}}</ui-select-match>
		    <ui-select-choices repeat="item.key as item in list | filter: { label: $select.search }">
		        <div ng-bind-html="item.label | highlight: $select.search"></div>
		    </ui-select-choices>
		</ui-select>
	</div>
	<div ng-if="filtroModel.tipoFiltro == 'SELECT_MANY'">
		<ui-select ng-model="$parent.$parent.ngModel" theme="bootstrap" multiple="true">
			<ui-select-match allow-clear="true" placeholder="Selecione...">{{$item.label}}</ui-select-match>
		    <ui-select-choices repeat="item.key as item in list | filter: { label: $select.search }">
		        <div ng-bind-html="item.label | highlight: $select.search"></div>
		    </ui-select-choices>
		</ui-select>
	</div>
	<div ng-if="filtroModel.tipoFiltro == 'RADIO'">
		<div ng-repeat="item in list">
			<label for="{{filtroModel.id}}_{{$index}}_radio">
				<input type="radio" ng-model="$parent.ngModel" name="{{filtroModel.id}}_{{$index}}_radio" id="{{filtroModel.id}}_{{$index}}_radio" />
				{{item.label}}
			</label>
		</div>
	</div>
	<div ng-if="filtroModel.tipoFiltro == 'CHECKBOX'">
		<div ng-repeat="item in list">
			<label for="{{filtroModel.id}}_{{$index}}_ckb">
				<input type="checkbox" ng-model="$parent.ngModel[$index]" name="{{filtroModel.id}}_{{$index}}_ckb" id="{{filtroModel.id}}_{{$index}}_ckb" />
				{{item.label}}
			</label>
		</div>
	</div>
	<div ng-if="filtroModel.tipoFiltro == 'TEXT'">
		<textarea rows="5" cols="20" ng-model="$parent.ngModel" class="form-control" name="{{filtroModel.id}}_txt" id="{{filtroModel.id}}_txt"></textarea>
	</div>
	<div ng-if="filtroModel.tipoFiltro == 'NUMBER'">
		<input type="number" class="form-control" ng-model="$parent.ngModel" name="{{filtroModel.id}}_num" id="{{filtroModel.id}}_num"/>
	</div>
	<div ng-if="filtroModel.tipoFiltro == 'FLOAT'">
		<input type="text" class="form-control" ng-model="$parent.ngModel" ui-number-mask="2" name="{{filtroModel.id}}_flt" id="{{filtroModel.id}}_fltt"/>
	</div>
	<div ng-if="filtroModel.tipoFiltro == 'DATE'">
		<p class="input-group">
			<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="$parent.ngModel" ng-model-options="{timezone: 'utc'}"
				close-text="Fechar" is-open="$parent.datePopups[$parent.filtroModel.id]" 
				name="{{$parent.filtroModel.id}}_date" id="{{$parent.filtroModel.id}}_date"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="$parent.datePopups[$parent.filtroModel.id] = true"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
        </p>
	</div>
	<div ng-if="filtroModel.tipoFiltro == 'DATETIME'">
		<p class="input-group">
			<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm:ss"
				ng-model="$parent.ngModel" ng-model-options="{timezone: 'utc'}"
				is-open="$parent.datePopups[$parent.filtroModel.id]"
				button-bar="{show: true, now: {show: true, text: 'Agora'}, today: {show: true, text: 'Hoje'}, clear: {show: true, text: 'Limpar'}, date: {show: true, text: 'Data'}, time: {show: true, text: 'Hora'}, close: {show: true, text: 'Fechar'}}"
				name="{{$parent.filtroModel.id}}_datetime" id="{{$parent.filtroModel.id}}_datetime" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default"
					ng-click="$parent.datePopups[$parent.filtroModel.id] = true">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
	</div>
	<div ng-if="filtroModel.tipoFiltro == 'TIME'">
		<div uib-timepicker ng-model="$parent.ngModel" ng-model-options="{timezone: 'utc'}" 
			hour-step="1" minute-step="1" show-meridian="true" id="{{$parent.filtroModel.id}}_time"></div>
	</div>
</div>