			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': KeycloakGrupoForm.idKeycloak.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="idKeycloak">IdKeycloak</label>					        
				            <input id="idKeycloak" name="idKeycloak" type="text" class="form-control" ng-model="vmKeycloakGrupo.entity.idKeycloak"
							ng-maxlength="255" ng-disabled="vmKeycloakGrupo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="KeycloakGrupoForm.idKeycloak.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': KeycloakGrupoForm.nome.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="nome">Nome</label>					        
				            <input id="nome" name="nome" type="text" class="form-control" ng-model="vmKeycloakGrupo.entity.nome"
							ng-required="true" ng-maxlength="255" ng-disabled="vmKeycloakGrupo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="KeycloakGrupoForm.nome.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="KeycloakGrupoForm.nome.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="KeycloakGrupoForm.nome.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
		    
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" >
			    		<div class="col-sm-12">
				        	<label for="usuarios">Usuarios</label>
							<ui-select id="usuarios" multiple="true" ng-model="vmKeycloakGrupo.entity.usuarios" theme="bootstrap" ng-disabled="vmKeycloakGrupo.viewMode">
								<ui-select-match placeholder="Selecione...">{{$item.id}}</ui-select-match>
							    <ui-select-choices repeat="keycloakUsuario in vmKeycloakGrupo.keycloakUsuarioList track by keycloakUsuario.id"
							    	refresh="vmKeycloakGrupo.listarKeycloakUsuario($select.search)" refresh-delay="300">
							        <div ng-bind-html="keycloakUsuario.id | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
