.loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 500000;
    background: none;
    pointer-events: none; 
}
