			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.serial.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="serial">Serial</label>					        
				            <input id="serial" name="serial" type="text" class="form-control" ng-model="vmDispositivo.entity.serial"
							ng-required="true" ng-maxlength="255" ng-disabled="vmDispositivo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="DispositivoForm.serial.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="DispositivoForm.serial.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="DispositivoForm.serial.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.versao.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="versao">Versao</label>					        
				            <input id="versao" name="versao" type="text" class="form-control" ng-model="vmDispositivo.entity.versao"
							ng-maxlength="20" ng-disabled="vmDispositivo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="DispositivoForm.versao.$error.maxlength">O tamanho máximo é 20</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.cordova.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="cordova">Cordova</label>					        
				            <input id="cordova" name="cordova" type="text" class="form-control" ng-model="vmDispositivo.entity.cordova"
							ng-required="true" ng-maxlength="30" ng-disabled="vmDispositivo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="DispositivoForm.cordova.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="DispositivoForm.cordova.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="DispositivoForm.cordova.$error.maxlength">O tamanho máximo é 30</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.modelo.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="modelo">Modelo</label>					        
				            <input id="modelo" name="modelo" type="text" class="form-control" ng-model="vmDispositivo.entity.modelo"
							ng-required="true" ng-maxlength="255" ng-disabled="vmDispositivo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="DispositivoForm.modelo.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="DispositivoForm.modelo.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="DispositivoForm.modelo.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.platform.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="platform">Platform</label>					        
				            <input id="platform" name="platform" type="text" class="form-control" ng-model="vmDispositivo.entity.platform"
							ng-required="true" ng-maxlength="255" ng-disabled="vmDispositivo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="DispositivoForm.platform.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="DispositivoForm.platform.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="DispositivoForm.platform.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.uuid.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="uuid">Uuid</label>					        
				            <input id="uuid" name="uuid" type="text" class="form-control" ng-model="vmDispositivo.entity.uuid"
							ng-required="true" ng-maxlength="255" ng-disabled="vmDispositivo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="DispositivoForm.uuid.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="DispositivoForm.uuid.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="DispositivoForm.uuid.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.manufacturer.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="manufacturer">Manufacturer</label>					        
				            <input id="manufacturer" name="manufacturer" type="text" class="form-control" ng-model="vmDispositivo.entity.manufacturer"
							ng-required="true" ng-maxlength="255" ng-disabled="vmDispositivo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="DispositivoForm.manufacturer.$error.required">obrigatório</span>
        					<span class="help-block error" ng-show="DispositivoForm.manufacturer.$error.minlength">O tamanho mínimo é 1</span>
			            	<span class="help-block error" ng-show="DispositivoForm.manufacturer.$error.maxlength">O tamanho máximo é 255</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.isVirtual.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="isVirtual">IsVirtual</label>					        
				            <input id="isVirtual" name="isVirtual" type="text" class="form-control" ng-model="vmDispositivo.entity.isVirtual"
							ng-required="true" ng-disabled="vmDispositivo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="DispositivoForm.isVirtual.$error.required">obrigatório</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.ddd.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="ddd">Ddd</label>					        
				            <input id="ddd" name="ddd" type="text" class="form-control" ng-model="vmDispositivo.entity.ddd"
							ng-maxlength="3" ng-disabled="vmDispositivo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="DispositivoForm.ddd.$error.maxlength">O tamanho máximo é 3</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.numero.$invalid}">
			    		<div class="col-sm-12">
				        	<label for="numero">Numero</label>					        
				            <input id="numero" name="numero" type="text" class="form-control" ng-model="vmDispositivo.entity.numero"
							ng-maxlength="20" ng-disabled="vmDispositivo.viewMode">
				            </input>
			            	<span class="help-block error" ng-show="DispositivoForm.numero.$error.maxlength">O tamanho máximo é 20</span>
				        </div>
					</div>
				</div>
		    </div>
		    
			<div class="row">
				<div class="col-md-12">
		    		<div class="form-group" ng-class="{'has-error': DispositivoForm.keycloakUsuario.$invalid}">
			    		<div class="col-sm-12">
				    		<label for="keycloakUsuario">KeycloakUsuario</label>					        
				            <ui-select id="keycloakUsuario" name="keycloakUsuario" ng-model="vmDispositivo.entity.keycloakUsuario" theme="bootstrap" 
				            	ng-disabled="vmDispositivo.viewMode" >
								<ui-select-match allow-clear="true" placeholder="Selecione...">{{$select.selected.id}}</ui-select-match>
							    <ui-select-choices repeat="keycloakUsuario in vmDispositivo.keycloakUsuarioList track by keycloakUsuario.id"
							    	refresh="vmDispositivo.listarKeycloakUsuario($select.search)" refresh-delay="300">
							        <div ng-bind-html="keycloakUsuario.id | highlight: $select.search"></div>
							    </ui-select-choices>
							</ui-select>
				        </div>
					</div>
				</div>
		    </div>
		    
