<div class="content-wrapper-form">

    <!-- Main content -->
    <section class="content">
        <button mat-raised-button color="primary" (click)="onClickNew()"><mat-icon>add</mat-icon>Adicionar</button>
        <p></p>

        <mat-card *ngIf="!sub" class="mat-card-search">
            <mat-card-header>
                <mat-card-title>Filtros de Pesquisa</mat-card-title>
            </mat-card-header>
            <mat-card-content class="form-fields">




                <mat-form-field>
	                <textarea matInput [(ngModel)]="filters['nome'].value" autoResize="true" name="nome" id="nome" #nome="ngModel"
	                	placeholder="Nome"></textarea>
				</mat-form-field>

 
                <mat-form-field>
	                <textarea matInput [(ngModel)]="filters['login'].value" autoResize="true" name="login" id="login" #login="ngModel"
	                	placeholder="Login"></textarea>
				</mat-form-field>

 
                <mat-form-field>
	                <textarea matInput [(ngModel)]="filters['email'].value" autoResize="true" name="email" id="email" #email="ngModel"
	                	placeholder="Email"></textarea>
				</mat-form-field>

              
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="basic" (click)="onClickSearch()"><mat-icon>search</mat-icon>Pesquisar</button>
            </mat-card-actions>
        </mat-card>

        <p></p>
        <mat-divider></mat-divider>

        <div class="search-results">
        	<!--
            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                <mat-spinner></mat-spinner>
            </div>
            -->

            <div class="mat-elevation-z8">

                <mat-form-field class="globalFilter">
                    <input matInput placeholder="Filtrar" #searchInput>
                </mat-form-field>

                <mat-table [dataSource]="dataSource" matSort matSortActive="nome" matSortDirection="asc" matSortDisableClear>

																							<ng-container matColumnDef="nome">
			            <mat-header-cell *matHeaderCellDef mat-sort-header>NOME</mat-header-cell>
			            <mat-cell *matCellDef="let entity">{{entity.nome}}</mat-cell>
			        </ng-container>
																													<ng-container matColumnDef="login">
			            <mat-header-cell *matHeaderCellDef mat-sort-header>LOGIN</mat-header-cell>
			            <mat-cell *matCellDef="let entity">{{entity.login}}</mat-cell>
			        </ng-container>
																													<ng-container matColumnDef="email">
			            <mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</mat-header-cell>
			            <mat-cell *matCellDef="let entity">{{entity.email}}</mat-cell>
			        </ng-container>
						
                    <ng-container matColumnDef="actions" class="col-actions">
                        <mat-header-cell *matHeaderCellDef>AÇÕES</mat-header-cell>
                        <mat-cell *matCellDef="let entity">
                            <button mat-raised-button color="primary" matTooltip="Ver o registro" (click)="onClickView(entity)">
                                <i class="material-icons">pageview</i>
                                <span class="d-none d-md-inline"> Ver</span>
                            </button>
                            &nbsp;
                            <button mat-raised-button (click)="onClickEdit(entity)">
                                <i class="material-icons">edit</i>
                                <span class="d-none d-md-inline"> Editar</span>
                            </button>
                            &nbsp;
                            <button mat-raised-button (click)="onClickRemove(entity)" color="warn">
                                <i class="material-icons">delete</i>
                                <span class="d-none d-md-inline"> Remover</span>
                            </button>
                        </mat-cell>
                    </ng-container>
                    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                </mat-table>

                <mat-paginator [length]="dataSource.itemsCount$ | async" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </div>
        </div>

    </section>
    <!-- /.content -->

</div>